/* GOOGLE FONTS IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");


/* GENERAL CONTENT */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    rgba(102, 174, 185, 0.8),
    rgba(240, 244, 247, 0.8)
  );
  font-family: "Times New Roman", Times, serif;
}

p {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}


/* MAIN CONTAINER */
.container {
  margin: 0 auto;
  padding: 14rem;
}

#title {
  text-shadow: 0 1px 2px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(29, 29, 63);
}

#title span {
  display: block;
  color: #252422;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}


/* ABOUT */
.about {
  margin-bottom: 3rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  letter-spacing: 2px;
  line-height: 1.6;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#mini-title {
  text-align: center;
}

h2 {
  text-decoration: none;
  text-align: center;
}


/* HOBBIES */
#love {
  font-size: 2rem;
}

.hobbies li {
  list-style: circle;
}

li {
  padding-left: 10px;
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
}


/* EXTRA SPACE */
.space {
  height: 2rem;
}


/* FAVORITE DISHES */
.dish-container {
  width: 30rem;
  height: 12rem;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.7);
  font-family: "Lobster", cursive;
  color: #635f5f;
  padding: 1rem;
  margin-bottom: 7rem;
}

.dish-container h1 {
  font-size: 1.6rem;
}

.dish-container ol li {
  padding: 0.2rem;
  font-size: 1.2rem;
}
