/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@500&family=Playfair+Display:ital@0;1&display=swap");


/* CSS RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* GENERAL SET-UP */
body {
  background-image: linear-gradient(
      to left,
      rgba(44, 152, 205, 0.8),
      rgba(89, 70, 185, 0.8)
    ),
    url("https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  margin-top: -7rem;
}


/* TITLE */
.title {
  margin-top: 2.5rem;
  color: black;
  margin-bottom: 0;
  text-shadow: 0 1px 2px black;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #ff6a23;
}


/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  margin-top: 2rem;
}
.btn-item {
  margin-left: 1.5rem;
  font-family: "Dancing Script", cursive;
  width: 9rem;
  font-size: 1.6rem;
  text-shadow: 0 0.1rem 0.2rem black;
  text-transform: uppercase;
  background-color: rgb(18, 175, 207);
  transition: all 0.3s linear;
  padding: 0 2rem;
  border-radius: 10rem;
  box-shadow: 0 0.1rem 0.6rem 0.4rem rgb(140, 213, 32);
  border: transparent;
}

.btn-item:hover {
  transform: scale(1.1);
}


/* MENU */
.menu {
  margin-top: 2rem;
}

.photo {
  width: 20%;
  height: 10rem;
  object-fit: cover;
  border: 0.25rem solid black;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.6rem 0.4rem rgb(140, 213, 32);
}
.menu-items {
  display: flex;
  margin: 0.7rem 0;
}
.menu-info {
  margin-left: 1.2rem;
  width: 100%;
  font-family: "Playfair Display", serif;
}
.menu-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid black;
}

h4 {
  color: #21178e;
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  text-shadow: 0 0.1rem 0.2rem rgb(11, 71, 38);
}

.menu-text {
  padding-top: 2rem;
}
